<!--Información del curso-->
<img align="left" style="padding-right:10px;" src="figuras/logo_ciencia_datos.png">

<center><h1 style="font-size:2em;color:#2467C0"> Pandas -Parte 1  </h1></center>

<center><h2 style="font-size:2em;color:#840700">  Pandas - Series y DataFrames  </h4></center>

<br>
<table>
<col width="550">
<col width="450">
<tr>
<td><img src="figuras/WesM.png" align="left" style="width:500px"/></td>
<td>

* **Wes McKinney**, empezó a desarrollar Pandas en el año 2008 mientras trabajaba en *AQR Capital* [https://www.aqr.com/] por la necesidad que tenía de una herramienta flexible de alto rendimiento para realizar análisis cuantitativos en datos financieros. 
* Antes de dejar AQR convenció a la administración de la empresa de distribuir esta biblioteca bajo licencia de código abierto.
* **Pandas** es un acrónimo de **PANel DAta analysiS**
   
    
<br>
</td>
</tr>
</table>

# Librerías

Cargando las bibliotecas que necesitamos

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Introduccion

* Pandas es un paquete de Python que proporciona estructuras de datos rápidas, flexibles y expresivas diseñadas para hacer que el trabajo con datos "relacionales" o "etiquetados" sea fácil e intuitivo. 
* Pretende ser el elemento fundamental de alto nivel para realizar análisis de datos prácticos y del mundo real en Python.
* La documentación oficial de Pandas se puede encontrar en el siguiente link https://pandas.pydata.org/pandas-docs/stable/


<img align="left" width=60% src="figuras/pandas2.jpeg">

Características principales de uso:
* Ingestión de datos (Data ingestion)
* Estadística descriptiva
* Limpieza de datos
* Visualización
* Transformación de datos
* Combinando DataFrames
* Manejo datos utilizando una variable temporal

# Estructuras de datos en Pandas : Series y DataFrames

Pandas proporciona dos tipos de datos fundamentales, para 1D (**Series**) y datos 2D (**DataFrame**).


<img align="left" width=75% src="figuras/SeriesYDataFrame.png">

<img align="left" width=60% src="figuras/DataFrame.png">

En el nivel más básico, los objetos Pandas se pueden considerar como versiones mejoradas de matrices estructuradas NumPy en las que las filas y columnas se identifican con etiquetas en lugar de índices enteros simples. Como veremos durante el transcurso de esta unidad, Pandas proporciona una serie de herramientas, métodos y funcionalidades útiles además de las estructuras de datos básicas. Por lo tanto, introduzcamos estas tres estructuras de datos fundamentales de Pandas: **Series** y **DataFrames**.

# Las Series
Las **Series** de Pandas son un arreglos unidimensionales de datos indexados. Se pueden crear a partir de una lista o arreglo de la siguiente manera:

In [8]:
 #Ejemplo
datos = pd.Series([1,2,3,8.5,9])
datos

0    1.0
1    2.0
2    3.0
3    8.5
4    9.0
dtype: float64

Como vemos en la salida anterior, la **Serie** envuelve cuenta con una secuencia de ``índices`` como  de ``valores``. Los ``valores`` son simplemente un arreglo de NumPy

In [9]:
#Valores
datos.values

array([1. , 2. , 3. , 8.5, 9. ])

Y para conocer la secuencia de los ``índices`` podemos usar:

In [10]:
#Indices
datos.index

RangeIndex(start=0, stop=5, step=1)

Al igual que con un arreglo de NumPy, se puede acceder a los datos mediante el índice asociado a través de la conocida notación de corchetes de Python:

In [12]:
datos[0:]

0    1.0
1    2.0
2    3.0
3    8.5
4    9.0
dtype: float64

## Las Series:  arreglos generalizados de NumPy

Por lo que hemos visto hasta ahora, puede parecer que las **Series** son básicamente intercambiables con arreglos unidimensionales de NumPy. La diferencia esencial es la presencia de los índices: mientras que los arreglos de Numpy tienen un índice entero definido implícitamente que se utiliza para acceder a los valores (índices asociados a la posición), las Series de Pandas tiene índices definidos explícitamente asociados con los valores. Esta definición de índice explícita le da a las Series características  adicionales. 

Por ejemplo, no es necesario que el índice sea un número entero.

In [13]:
datos = pd.Series([1,2,3,8.5,9],
                index = ['a', 'b','c','d', 'e']
                 ) 
datos

a    1.0
b    2.0
c    3.0
d    8.5
e    9.0
dtype: float64

Y el acceso a cada elemento funciona con su respectivo índice:

In [15]:
datos['d']

8.5

Incluso podemos utilizar índices no contiguos o no secuenciales:

In [17]:
 datos = pd.Series([1,2,3,8.5,9],
                index = [1, 2, 4, 3, 2]
                 ) 
datos

1    1.0
2    2.0
4    3.0
3    8.5
2    9.0
dtype: float64

In [18]:
datos[2]

2    2.0
2    9.0
dtype: float64

In [21]:
datos[2].values[1]

9.0

## Las Series y  diccionarios de Python

Se puede considerar que una **Serie** es similar a un diccionario ordenado que asigna un valor a una etiqueta, de hecho, es posible construir una serie directamente desde un diccionario de Python:

In [25]:
poblacion_diccionario = {'California': 38.3,
                   'Texas': 26.4,
                   'New York': 19.6,
                   'Florida': 19.5,
                   'Illinois': 12.8,
                   'Washington': 17.5,     
                             }

# Crar la Serie llamada poblacion
poblacion = pd.Series(poblacion_diccionario)
poblacion

California    38.3
Texas         26.4
New York      19.6
Florida       19.5
Illinois      12.8
Washington    17.5
dtype: float64

De forma predeterminada, se creará una **Serie** donde el índice se extrae de las etiquetas ordenadas y se puede realizar el acceso típico a elementos al estilo de un diccionario de Python:

In [26]:
 poblacion['Florida']

19.5

Sin embargo, a diferencia de un diccionario, las **Series** también admiten operaciones de segmentación:

In [27]:
poblacion['Texas' : 'Illinois']

Texas       26.4
New York    19.6
Florida     19.5
Illinois    12.8
dtype: float64

Discutiremos algunas de las peculiaridades de la indexación y segmentación de Pandas en las siguientes lecciones.

# DataFrames

La siguiente estructura fundamental en Pandas es el **DataFrame**. Al igual que las **Series** presentadas en la sección anterior, los  **DataFrame** se pueden considerar como una generalización de arreglos de NumPy o como   diccionarios especializados de Python.

## DataFrame como un arreglo generalizado de NumPy


Si una **Serie** es un análogo de un arreglo unidimensional con índices flexibles, un **DataFrame** es un análogo de un arreglo bidimensional con índices de filas flexibles y nombres de columnas flexibles.
Así como podría pensar en un arreglo bidimensional como una secuencia ordenada de columnas unidimensionales alineadas, se puede pensar en un **DataFrame** como una secuencia de objetos alineados de **Serie**,  por *alineados* queremos decir que comparten el mismo índice.

Para demostrar esto, construyamos primero una nueva **Serie** que enumere el área de cada uno de los  estados mostrados en la sección anterior:

In [28]:
area_diccionario = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995,'Washington': 289990}
#Crear la serie llamada area
area = pd.Series(area_diccionario)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Washington    289990
dtype: int64

Ahora que tenemos esto junto con la serie de población de anterior, podemos usar un diccionario para construir un único objeto bidimensional que contenga esta información:

In [29]:
#Crear la serie llamada estados
estados = pd.DataFrame({'Poblacion estado' : poblacion,
                        'Area estado' : area})
estados

            Poblacion estado  Area estado
California              38.3       423967
Texas                   26.4       695662
New York                19.6       141297
Florida                 19.5       170312
Illinois                12.8       149995
Washington              17.5       289990

Como en las **Series**, el **DataFrame** tiene un atributo de ``index`` que da acceso a las etiquetas del índice:

In [30]:
#indices
estados.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois', 'Washington'], dtype='object')

Además, el **DataFrame** tiene un atributo ``columns``  que contiene las etiquetas de las columnas:

In [31]:
#Columnas
estados.columns

Index(['Poblacion estado', 'Area estado'], dtype='object')

Thus the ``DataFrame`` can be thought of as a generalization of a two-dimensional NumPy array, where both the rows and columns have a generalized index for accessing the data.

### DataFrame como un diccionario especializado

Se puede  pensar en un **DataFrame** como una diccionario especializado, ya que un **DataFrame** además asigna un nombre a cada columna. Por ejemplo, al pedir el 'area' obtendremos los elementos de la columna 'area':

In [34]:
# area
estados['Poblacion estado']

California    38.3
Texas         26.4
New York      19.6
Florida       19.5
Illinois      12.8
Washington    17.5
Name: Poblacion estado, dtype: float64

De igual manera para la columna 'poblacion'

In [35]:
#Población
estados['Area estado']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Washington    289990
Name: Area estado, dtype: int64

### Construyendo DataFrames

Un **DataFrame** de Pandas se puede construir de varias formas utilizando la función ``DataFrame``. Aquí daremos varios ejemplos.

#### a) Utilizando una Serie

Un **DataFrame** es una colección de **Series**, y un **DataFrame** de una sola columna se puede construir a partir de una sola **Serie**:

#### b) Lista de diccionarios


Un conjunto de diccionarios se pueden convertir en un **DataFrame**.

In [39]:
diccionario = {'a':{'x': 0, 'y':1, 'z': 5}, 'b':{'x':2, 'y':3, 'w':6 }}
pd.DataFrame(diccionario)

     a    b
x  0.0  2.0
y  1.0  3.0
z  5.0  NaN
w  NaN  6.0


Incluso si faltan algunos elementos en los diccionarios, Pandas las completará con valores ``NaN`` (es decir, "not a number"):

#### c) Desde un arreglo bidimensional de  NumPy 

Dada un arreglo bidimensional de datos, podemos crear un **DataFrame** con cualquier columna e índice especificado. Si se omite, se utilizará un índice entero para cada uno

In [41]:
# np.random.rand(3, 2)
arreglo2D = np.random.rand(3, 2)
arreglo2D

array([[0.29882235, 0.68396702],
       [0.08466733, 0.32989384],
       [0.2791489 , 0.46023195]])

In [42]:
# Cuando se especifican los índices de filas y columnas
pd.DataFrame(arreglo2D, columns = ['A', 'B'], index = ['x', 'y', 'z'])

          A         B
x  0.298822  0.683967
y  0.084667  0.329894
z  0.279149  0.460232

In [9]:
# Cuando se especifican los índices solo en columnas

In [11]:
# Cuando no se especifican los índices

Para manejar de una manera eficiente los **DataFrame** se recomienda siempre asignar nombres a las columnas

#### d)  Combinando  Series

Como vimos antes, un **DataFrame** también se puede construir a partir de **Series**

In [43]:
# poblacion + area
pd.DataFrame({'PoblacionEstado': poblacion, 'AreaEstado' : area})

            PoblacionEstado  AreaEstado
California             38.3      423967
Texas                  26.4      695662
New York               19.6      141297
Florida                19.5      170312
Illinois               12.8      149995
Washington             17.5      289990

#####  Ejemplo de un DataFrame a partir de Series y Series a partir de diccionarios

Definiremos un DataFrame utilizando 5 diferentes Series, y las Series a partir de Diccionarios utilizando información de Pokémon. Consideraremos 2 variables cuantitativas (altura y peso ) y 3 cualitativas (categoría, tipo y debilidad)

[https://www.lavanguardia.com/tecnologia/20160907/403442078796/todos-pokemon.html]

<img align="left" width=75% src="figuras/pokemones.png">

**1. Diccionarios**

In [44]:
bulbasaur_diccionario = {'Altura': 0.7, 'Peso': 6.9, 'Categoría': 'Semilla',
             'Tipo': 'Planta', 'Debilidad':  'Hielo y fuego'}
bulbasaur = pd.Series(bulbasaur_diccionario)
bulbasaur

Altura                 0.7
Peso                   6.9
Categoría          Semilla
Tipo                Planta
Debilidad    Hielo y fuego
dtype: object

In [45]:
charmander_diccionario = {'Altura': 0.6, 'Peso': 8.5, 'Categoría': 'Lagartija',
             'Tipo': 'Fuego', 'Debilidad':  'Tierra y agua'}
charmander = pd.Series(charmander_diccionario)
charmander

Altura                 0.6
Peso                   8.5
Categoría        Lagartija
Tipo                 Fuego
Debilidad    Tierra y agua
dtype: object

In [46]:
squirtle_diccionario = {'Altura': 0.5, 'Peso': 9.0, 'Categoría': 'Tortuga',
              'Debilidad':  'Electricidad'}
squirtle = pd.Series(squirtle_diccionario)
squirtle

Altura                0.5
Peso                  9.0
Categoría         Tortuga
Debilidad    Electricidad
dtype: object

In [47]:
caterpie_diccionario = {'Altura': 0.3, 'Peso': 2.9, 'Categoría': 'Gusano',
             'Tipo':  'Bicho'}
caterpie = pd.Series(caterpie_diccionario)
caterpie

Altura          0.3
Peso            2.9
Categoría    Gusano
Tipo          Bicho
dtype: object

In [48]:
pidgey_diccionario = {'Altura': 0.3, 'Peso': 1.8, 'Debilidad':  'Hielo'}
pidgey = pd.Series(pidgey_diccionario)
pidgey

Altura         0.3
Peso           1.8
Debilidad    Hielo
dtype: object

**2. Series**

In [49]:
df_pokemones= pd.DataFrame({'Bulbasaur':bulbasaur,
              'Charmander': charmander, 
              'Squirtle': squirtle, 
              'Caterpie': caterpie, 
              'Pidgey': pidgey,               
             })
df_pokemones

               Bulbasaur     Charmander      Squirtle Caterpie Pidgey
Altura               0.7            0.6           0.5      0.3    0.3
Categoría        Semilla      Lagartija       Tortuga   Gusano    NaN
Debilidad  Hielo y fuego  Tierra y agua  Electricidad      NaN  Hielo
Peso                 6.9            8.5           9.0      2.9    1.8
Tipo              Planta          Fuego           NaN    Bicho    NaN

# Ejercicio

<div class="alert alert-success">

**Creación de un DataFrame con series y diccionarios**
    
1. Definir un DataFrame a partir de 5 series y cada Serie a partir de un diccionario (de algún mismo tópico), considerando  6 características diferentes y combinando tipos de variables (cuantitativas y cualitativas), también puede omitir algunos valores. 
</div>

Ejemplo:


``` python
Alan = pd.Series({'Edad': 20 ,
                  'Altura': 1.70,
                  'Peso': 68,
                  'Estado': 'Yucatán',
                  'Color favorito':'Azul',
                  'Licenciatura': 'Derecho'})
María = pd.Series({'Edad': 21 ,
                   'Altura': 1.80,
                   'Peso': 80,
                   'Color favorito':'Rojo',
                   'Licenciatura': 'Ingeniería'})
Pedro = pd.Series({'Edad': 23 ,
                   'Altura': 1.67,
                   'Peso': 75,
                   'Estado': 'Aguascalientes',
                   'Color favorito':'Morado',
                   'Licenciatura': 'Artes'})
Esmeralda = pd.Series({'Edad': 25 ,
                       'Altura': 1.72,
                       'Peso': 60,
                       'Estado': 'Campeche',
                       'Licenciatura': 'Turismo'})
Karen = pd.Series({'Edad': 25 ,
                  'Altura': 1.74,
                  'Peso': 69,
                  'Estado': '',
                  'Color favorito':'Azul',
                  'Licenciatura': 'Psicología'})

df_alumnos = pd.DataFrame({'Alan':Alan,
                           'María': María, 
                           'Pedro': Pedro, 
                           'Esmeralda': Esmeralda, 
                           'Karen': Karen
                           })
df_alumnos

>>

                   Alan       María           Pedro Esmeralda       Karen
Altura              1.7         1.8            1.67      1.72        1.74
Color favorito     Azul        Rojo          Morado       NaN        Azul
Edad                 20          21              23        25          25
Estado          Yucatán         NaN  Aguascalientes  Campeche            
Licenciatura    Derecho  Ingeniería           Artes   Turismo  Psicología
Peso                 68          80              75        60          69


```

In [13]:
#Mi diccionario será de agentes de Valorant el mejor juego jamás creado
Chamber = pd.Series({
    'Tipo' : 'Centinela' ,
    'Nombre real' : 'Vincent Fabron',
    'Origen' : 'Francia' ,
    'Añanido en' : 3.10 ,
    'Tasa de selección %' : 16.2 ,
    'Tasa de victoria %' : 50.8 , 
                    })
Astra = pd.Series({
    'Tipo' : 'Controlador' ,
    'Nombre real' : 'Efia Danso',
    'Origen' : 'Ghana' ,
    'Añanido en' : 2.04 ,
    'Tasa de selección %' : 1.38 ,
    'Tasa de victoria %' : 49.1 , 
                    })
Jett = pd.Series({
    'Tipo' : 'Duelista' ,
    'Nombre real' : 'Sunwoo Han',
    'Origen' : 'Corea del Sur' ,
    'Añanido en' : 'Beta' ,
    'Tasa de selección %' : 25.73 ,
    'Tasa de victoria %' : 50.54 , 
                    })
Omen = pd.Series({
    'Tipo' : 'Controlador' ,
    'Añanido en' : 'Beta' ,
    'Tasa de selección %' : 12.8 ,
    'Tasa de victoria %' : 48.73 , 
                    })
Breach = pd.Series({
    'Tipo' : 'Iniciador' ,
    'Nombre real' : 'Erik Torsten',
    'Origen' : 'Suecia' ,
    'Añanido en' : 'Beta' ,
    'Tasa de selección %' : 4.15 ,
    'Tasa de victoria %' : 49.29 , 
                    })

df_agentes = pd.DataFrame({
    'Chamber': Chamber,
    'Breach': Breach,
    'Astra' : Astra,
    'Jett' : Jett,
    'Omen' : Omen,
})
df_agentes

,Chamber,Breach,Astra,Jett,Omen
Añanido en,3.1,Beta,2.04,Beta,Beta
Nombre real,Vincent Fabron,Erik Torsten,Efia Danso,Sunwoo Han,NaN
Origen,Francia,Suecia,Ghana,Corea del Sur,NaN
Tasa de selección %,16.2,4.15,1.38,25.73,12.8
Tasa de victoria %,50.8,49.29,49.1,50.54,48.73
Tipo,Centinela,Iniciador,Controlador,Duelista,Controlador

<div class="alert alert-success">
    
**Creación de un DataFrame vacío**
    
2. Definir un DataFrame que contenga un listado de 5 datos de 10 personas (utilizar el método del siguiente ejemplo). 
</div>

Ejemplo:


``` python
import pandas as pd
df = pd.DataFrame()
df['first_name'] = ['Josy', 'Vaughn', 'Neale', 'Teirtza']
df['last_name'] = ['Clarae', 'Halegarth', 'Georgievski', 'Teirtza']
df['gender'] = ['Female', 'Male', 'Male', 'Female']
print(df)


  first_name    last_name  gender
0       Josy       Clarae  Female
1     Vaughn    Halegarth    Male
2      Neale  Georgievski    Male
3    Teirtza      Teirtza  Female

```

In [22]:
import pandas as pd
got = pd.DataFrame()
got['Nombre'] = ['Jon', 'Daenerys', 'Tyrion', 'Cersei', 'Margaery', 'Missandei', 'Arya', 'Samuel', 'Jorah', 'Renly',]
got['Apellido'] = ['Snow', 'Targaryen', 'Lannister', 'Lannister', 'Tyrell', '', 'Stark', 'Tarly', 'Mormont', 'Baratheon',]
got['Leal a'] = ['Casa Stark', 'Casa Targaryen', 'Casa Targaryen', 'Casa Lannister', 'Casa Tyrell', 'Casa Targaryen',
                'Casa Stark', 'Casa Stark', 'Casa Targaryen', 'Casa Baratheon',]
got['Estado'] = ['Vivo', 'Muerto', 'Vivo', 'Muerto', 'Muerto', 'Muerto', 'Vivo', 'Muerto', 'Muerto', 'Muerto',]
got['Conocido como'] = ['Lord Snow', 'Mother of Dragons', 'The Imp', 'Queen Mother','','', 'Arry', '', 'Ser Jorah the Andal','' ]
print(got)

      Nombre   Apellido          Leal a  Estado        Conocido como
0        Jon       Snow      Casa Stark    Vivo            Lord Snow
1   Daenerys  Targaryen  Casa Targaryen  Muerto    Mother of Dragons
2     Tyrion  Lannister  Casa Targaryen    Vivo              The Imp
3     Cersei  Lannister  Casa Lannister  Muerto         Queen Mother
4   Margaery     Tyrell     Casa Tyrell  Muerto
5  Missandei             Casa Targaryen  Muerto
6       Arya      Stark      Casa Stark    Vivo                 Arry
7     Samuel      Tarly      Casa Stark  Muerto
8      Jorah    Mormont  Casa Targaryen  Muerto  Ser Jorah the Andal
9      Renly  Baratheon  Casa Baratheon  Muerto

<div class="alert alert-success">

**Creación de un DataFrame vacío con columnas**

3. Definir un DataFrame que contenga un listado de 4 parámetros de 6 modelos de automóviles (utilizar el método del siguiente ejemplo). 
</div>

Ejemplo:


``` python
import pandas as pd
df = pd.DataFrame()
df = pd.DataFrame(columns=['first_name', 'last_name', 'gender'])
df = df.append({'first_name': 'Josy', 'last_name':'Clarae', 'gender':'Female'}, ignore_index=True)
df = df.append({'first_name': 'Vaughn', 'last_name':'Halegarth', 'gender':'Male'}, ignore_index=True)
print(df)


  first_name  last_name  gender
0       Josy     Clarae  Female
1     Vaughn  Halegarth    Male
```

In [24]:
import pandas as pd
cars = pd.DataFrame()
cars = pd.DataFrame(columns = ['Nombre', 'Manufacturador', 'Velocidad_Maxima', 'Año_de_Salida'])
cars = cars.append({'Nombre': 'Roma', 'Manufacturador': 'Ferrari', 'Velocidad_Maxima': 320, 'Año_de_Salida': 2019}, ignore_index = True)
cars = cars.append({'Nombre' : 'Huayra', 'Manufacturador' : 'Pagani', 'Velocidad_Maxima' : 388 , 'Año_de_Salida' : 2011}, ignore_index = True)
cars = cars.append({'Nombre' : 'Senna', 'Manufacturador' : 'McLaren', 'Velocidad_Maxima': 355, 'Año_de_Salida' : 2017}, ignore_index = True)
cars = cars.append({'Nombre' : 'Aventador', 'Manufacturador' : 'Lamborghini', 'Velocidad_Maxima' : 350, 'Año_de_Salida' : 2011}, ignore_index = True)
cars = cars.append({'Nombre' : 'Chiron', 'Manufacturador' : 'Bugatti', 'Velocidad_Maxima' : 420, 'Año_de_Salida' : 2016}, ignore_index = True)
cars = cars.append({'Nombre' : '05RR', 'Manufacturador' : 'Vuhl', 'Velocidad_Maxima' : 255, 'Año_de_Salida' : 2013}, ignore_index = True)

print(cars)

      Nombre Manufacturador Velocidad_Maxima Año_de_Salida
0       Roma        Ferrari              320          2019
1     Huayra         Pagani              388          2011
2      Senna        McLaren              355          2017
3  Aventador    Lamborghini              350          2011
4     Chiron        Bugatti              420          2016
5       05RR           Vuhl              255          2013

<div class="alert alert-success">

**Creación de un DataFrame vacío con columnas e índices**

4. Definir un DataFrame que contenga un listado de 4 parámetros de 6 modelos de celulares (utilizar el método del siguiente ejemplo). 
</div>

Ejemplo:


``` python
import pandas as pd
df = pd.DataFrame()
df = pd.DataFrame(columns=['first_name', 'last_name', 'gender'],index=range(3))
df.iloc[0] = ['Josy', 'Clarae', 'Female']
df.iloc[1] = ['Vaughn', 'Halegarth', 'Male']
df.iloc[2] = ['Neale', 'Georgievski', 'Male']
print(df)


  first_name  last_name  gender
0       Josy     Clarae  Female
1     Vaughn  Halegarth    Male
```

In [25]:
import pandas as pd
cel = pd.DataFrame()
cel = pd.DataFrame (columns = ['Nombre', 'Marca', 'Precio', 'Sistema_Operativo'], index = range(6))
cel.iloc[0] = ['iPhone 13', 'Apple', 24000, 'iOS']
cel.iloc[1] = ['Redmi Note 11', 'Xiaomi', 4000, 'Android']
cel.iloc[2] = ['Galaxy 22', 'Samsung', 22000, 'Android']
cel.iloc[3] = ['Reno 7', 'Oppo', 8000, 'Android']
cel.iloc[4] = ['P30', 'Huawei', 14000, 'EMUI']
cel.iloc[5] = ['50', 'Honor', 11000, 'Android']

print(cel)

          Nombre    Marca Precio Sistema_Operativo
0      iPhone 13    Apple  24000               iOS
1  Redmi Note 11   Xiaomi   4000           Android
2      Galaxy 22  Samsung  22000           Android
3         Reno 7     Oppo   8000           Android
4            P30   Huawei  14000              EMUI
5             50    Honor  11000           Android